h1 {
    color:  rgba(10, 2, 60);
    font-style: bold;
    font-size: 56px;
}

p {
    color: rgba(10, 8, 48, 0.75);
    text-align: right;
    font-style: italic;
    font-size: 20px;
}

img {
    width: 50%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.citation {
    text-align: left;
}

button {
    background-color: #3557de;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

button:active {
    background-color:#0f2479;
    transform: translateY(3px);
}

div.helloworld {
    text-align: center;
}
